body {
font-family: Arial, sans-serif;
background:#000;
color:#fff;
margin:0;
padding:0;
}

.container {
max-width:700px;
margin:auto;
padding:20px;
}

h1 {
text-align:center;
color:#ff7a00;
}

h3 {
margin-top:25px;
}

input, textarea {
width:100%;
padding:10px;
margin-top:5px;
border-radius:6px;
border:none;
margin-bottom:10px;
}

textarea{
height:100px;
}

.gov-link{
display:block;
margin-bottom:15px;
color:#ff7a00;
}

.toggle{
display:flex;
gap:10px;
margin-bottom:10px;
}

.toggle-btn{
flex:1;
padding:12px;
background:#111;
border:1px solid #ff7a00;
color:#ff7a00;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.toggle-btn.active{
background:#ff7a00;
color:#000;
}

.section{
margin-top:25px;
}

.item{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:8px;
}

.buttons{
display:flex;
gap:5px;
}

.pass{
background:#2ecc71;
border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;
}

.fail{
background:#e74c3c;
border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;
}

.export{
margin-top:30px;
width:100%;
padding:15px;
background:#ff7a00;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}
